body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url(./assets//img/bg.svg) center center no-repeat
}
:root {
  --primary-color: #1bae4550;
  --msecondary-color: #29d46b60;
}
.cont {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* z-index: 1; */
}
.static {
  height: 270px;
  width: 270px;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* position: absolute; */
  top: 23%;
  left: 23%;
  z-index: 1;
}

.box2 {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  position: relative;
  animation: animate3 1.5s alternate infinite ease-in-out;
  z-index: 0;
}
@keyframes animate3 {
  0% {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid var(--msecondary-color);
  }
  25% {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 3px solid var(--msecondary-color);
  }
  50% {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 10px solid var(--msecondary-color);
  }
  75% {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 10px solid var(--msecondary-color);
  }
  100% {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 5px solid var(--msecondary-color);
  }
}
